<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <fieldTypes>
      <fieldType name="Droplist" type="Sitecore.Data.Fields.ValueLookupField,Sitecore.Kernel" set:type="Sitecore.Support.Data.Fields.ValueLookupField,Sitecore.Support.96884" />
      <fieldType name="Droplink" type="Sitecore.Data.Fields.LookupField,Sitecore.Kernel"  set:type="Sitecore.Support.Data.Fields.LookupField,Sitecore.Support.96884" />
      <fieldType name="lookup"  type="Sitecore.Data.Fields.LookupField,Sitecore.Kernel" set:type="Sitecore.Support.Data.Fields.LookupField,Sitecore.Support.96884" />
      <fieldType name="valuelookup" type="Sitecore.Data.Fields.ValueLookupField,Sitecore.Kernel" set:type="Sitecore.Support.Data.Fields.ValueLookupField,Sitecore.Support.96884" />
    </fieldTypes>
  </sitecore>
</configuration>